<IfModule mod_rewrite.c>
    RewriteEngine On

    # Serve existing files directly (VERY IMPORTANT)
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Otherwise send to Laravel
    RewriteRule ^ index.php [L]
</IfModule>