<!-- <ngx-spinner
  [name]="spinnerName"
  type="ball-scale-multiple"
  size="large"
  color="#3b82f6"
  bdColor="rgba(2, 6, 23, 0.88)"
  [fullScreen]="true"
  [zIndex]="99999"
>
  <div class="icetl-loader">
    <div class="icetl-loader__logo">
      <div class="pulse-ring"></div>

      <div class="logo-core">
        <span>ICETL</span>
      </div>
    </div>

    <h2>Please wait...</h2>

    <div class="loader-line">
      <div class="loader-line__bar"></div>
    </div>
  </div>
</ngx-spinner> -->

<ngx-spinner
  [name]="spinnerName"
  type="cube-transition"
  size="large"
  color="#ffffff"
  bdColor="rgba(15, 23, 42, 0.95)"
  [fullScreen]="true"
>
  <div class="enterprise-loader">
    <div class="enterprise-loader__logo">
      ICETL
    </div>

    <p>Loading....</p>

    <div class="enterprise-progress">
      <div class="enterprise-progress__bar"></div>
    </div>
  </div>
</ngx-spinner>